{% extends "base.html" %}
{% block content %}

<div class="auth-container">
    <div class="card p-4" style="max-width: 380px; width: 100%;">
        <h3 class="mb-3 text-center">Register</h3>
        <form method="post">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Role</label>
                    <select name="role" class="form-select">
                        <option value="admin">Admin</option>
                        <option value="manager">Manager</option>
                        <option value="member" selected>Member</option>
                    </select>
                </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-success">Create Account</button>
            </div>
        </form>

        <p class="mt-3 mb-0 text-center">
            Already registered?
            <a href="{{ url_for('login') }}">Login</a>
        </p>
    </div>
</div>

{% endblock %}
